* {
    margin: 0% auto;
    padding:0%;
    font-family: sans-serif;
    
}

.nav{
    /* width:600px;
    height:50px; */
    margin:10px auto;
    margin-top: 20px auto;
    background-color:darkslategray;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.nav-title {
    color:floralwhite;
    text-align: center;
    margin: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: left;
     
    
    
    
}

.nav-links {
    margin: 15px 15px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
   
    
    
}

a {

    justify-content: space-between;
    margin:15px;
    color:floralwhite;

}

.btn {
    margin:10px;
    background-color: dodgerblue;
    color:floralwhite;
    box-shadow: 2px 4px black;


}